QWidget {
    background-color: #b0b7c6;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    margin: 10px;
}

QPushButton{
    border: 2px solid #a2a2d0;
    background-color: #baacc7;
    border-radius: 2px;
}

QPushButton#LowerButton,
#DigitButton, 
#SpecialButton, 
#UpperButton{
    padding: 10px;
}

QPushButton:hover{
    background-color: #b7a3cc;
}

QPushButton:pressed{
    border: 4px solid #8360a8;
    border-radius: 5px;

}

QPushButton:checked{
    background-color: #9d82ba;
    border-color: #8360a8;

}



QFrame{
    border: 2px solid #a2a2d0;
    border-radius: 5px;
    margin-right: 0;
}

QFrame:hover{
    border-color: #9d82ba;
}


QLineEdit{
    border: 2px solid #b7a3cc;
    background-color: #baacc7;
    margin: 0;
    font-size: 20pt;
}

QPushButton{
    margin-right: 0;
    margin-left: 0;
}

QSlider::grove:horizontal{
    background-color: transparent;
    height: 5 px;
}

QSlider::sub-page:horizontal{
    background-color: #9d82ba;
}

QSlider::add-page:horizontal{
    background-color: #b7a3cc;
}

QSlider::handle:horizontal{
    background-color: white;
    width: 20px;
    border-radius: 9px;
    margin-top: -8px;
    margin-bottom: -8px;
}


QSpinBox{
    border: 2px solid #8360a8;
    border-radius: 4px;
    background: transparent;
    padding: 2px;
}

QSpinBox:hover{
    border-color: #9d82ba;
}

QLineEdit{
    border: 2px solid #b7a3cc;
    background-color: white;
    margin: 0;
    font-size: 20pt;
}
